node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env
.dev.vars

.cache
.env
.vercel
.output
.vscode
.idea

/supabase/.temp

/build/
/public/build
/api/index.js
/api/index.js.map
